# file options

--swiftversion 5.0
--exclude .build

# format options

--self insert
--patternlet inline
--stripunusedargs unnamed-only
--ifdef no-indent

# Configure the placement of an extension's access control keyword.
--extensionacl on-declarations

# rules
